# App mode
APP__MODE="dev"

# uvicorn
APP__RUN__HOST=127.0.0.1
APP__RUN__PORT=4267

# API
APP__API__PREFIX="/api"

# DB
APP__DB__FILE_PATH=./data/db.sqlite

# Auth
APP__AUTH__SECRET_KEY=yoursecretkeyhere
APP__AUTH__ALGORITHM=HS256
APP__AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=10080

