# General
APP__DOMAIN=""
APP__MODE="dev"

# uvicorn
APP__RUN__HOST=127.0.0.1
APP__RUN__PORT=4267

# API
APP__API__PREFIX="/api"

# CORS
APP__CORS__ORIGINS='["http://localhost:5173","http://127.0.0.1:5173"]'

# DB
APP__DB__FILE_PATH=./data/db.sqlite

# Auth
APP__AUTH__SECRET_KEY=yoursecretkeyhere
APP__AUTH__ALGORITHM=HS256
APP__AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Telegram Bot (leave empty to disable bot)
APP__BOT__TOKEN=
APP__BOT__WEBHOOK_SECRET= # python -c "import secrets; print(secrets.token_hex(32))"

